.main-body {
    & .content-box {
        overflow: auto;

        & .doc {
            max-width: 900px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.single-doc-box {
    position: relative;
    overflow: auto;

    & .doc-box {
        max-width: 900px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
