.main-body {
    & .navigation-box {
        & .nav-area {
            padding: 0 20px;
            display: flex;
            align-items: center;

            & .nav-item {
                display: inline-block;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 20px;
                padding: 0 10px;

                & i {
                    font-size: 23px !important;
                }

                & .nav-label {
                    display: none;
                }
            }

            & .nav-item:hover {
                color: #5e97d4;

                & i {
                    color: #5e97d4 !important;
                }
            }
        }
    }
}
