:root {
    --bg-color: #fff;
    --primary: #24292e;
    --info: #b7b7b7;
    --border-color: #eee;
    --highlight: #0366d6;
    --nav-color: #fff;
    --nav-highlight: #ffffffb3;
    --wx-primary: #22ab39;
    --zfb-primary: #1777ff;
    --active-nav: #73b5ff;
    /* --------------------------- 滚动条色号 --------------------------- */
    --scrollWidth: 10px;
    --scrollbarLightGray: #f5f5f5;
    --thumbLightGray: #999999;
    --trackLightGray: #fff;
}
