@import '@app/components/common/variables.css';

.category-switcher {
    font-size: 16px;
    margin-right: 5px;
    background: linear-gradient(90deg, #f29914 15%, #0bbbe3 76%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}
