@import '@app/components/common/variables.css';

.category-switcher {
    padding: 0 4px;
    font-size: 20px;
    margin-right: 5px;

    & .iconfont {
        font-size: 20px !important;
    }
}

.category-switcher:hover {
    color: var(--nav-highlight);
}
